
    img {    width: 100%;  }
    .center{ position: absolute; left: 50%;  top: 50%; transform: translate(-50%, -50%);}
    body { background-color: green !important; }
    p { font-size:15px; font-weight:bold;padding-bottom:30px;}
    li{font-size:15px; font-weight:bold;}
    h1{padding-bottom:30px;}
