body{
    background: lightgrey;
}

.personal_page_container{
    margin: 0 auto;
    max-width: 80%;
    display: flex;
    padding-top: 50px;
}

.profile_pic{
    height: 150px;
}

.content{
    margin-left: 1em;
}