{% extends 'forum/index.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/forum/design.css') }}">
{% endblock %}

{% block body %}

<h2 class="page-header">Bine ai veni pe forum</h2>

<div class="d-category">
    <strong>GENERAL</strong>
</div>

<br>

<table class="table table-bordered">

    <tbody>
        <tr>
            <td><div class="d-forum-symbol"><span class="glyphicon glyphicon-tower"></span></div></td>
            <td><div class="d-subcategory">
                <table>
                    <tr><td><strong>FAQ</strong></td></tr>
                    <tr><td>Description ....</td></tr>
                </table>
            </div></td>
            <td>x topics</td>
            <td>x replies</td>
        </tr>

        <tr>
            <td><div class="d-forum-symbol"><span class="glyphicon glyphicon-tower"></span></div></td>
            <td><div class="d-subcategory">
                <table>
                    <tr><td><strong>Subtegory 2</strong></td></tr>
                    <tr><td>Description ....</td></tr>
                </table>
            </div></td>
            <td>x topics</td>
            <td>x replies</td>
        </tr>

        <tr>
            <td><div class="d-forum-symbol"><span class="glyphicon glyphicon-tower"></span></div></td>
            <td><div class="d-lvtwo-category">
                <table>
                    <tr><td><strong>Subtegory 3</strong></td></tr>
                    <tr><td>Description ....</td></tr>
                </table>
            </div></td>
            <td>x topics</td>
            <td>x replies</td>
        </tr>
    </tbody>
</table>

<div class="d-category">
        <strong>CATEGORY 2</strong>
    </div>
    
<br>

<table class="table table-bordered">

        <tbody>
            <tr>
                <td><div class="d-forum-symbol"><span class="glyphicon glyphicon-tower"></span></div></td>
                <td><div class="d-subcategory">
                    <table>
                        <tr><td><strong>Subcategory 1</strong></td></tr>
                        <tr><td>Description ....</td></tr>
                    </table>
                </div></td>
                <td>x topics</td>
                <td>x replies</td>
            </tr>
    
            <tr>
                <td><div class="d-forum-symbol"><span class="glyphicon glyphicon-tower"></span></div></td>
                <td><div class="d-subcategory">
                    <table>
                        <tr><td><strong>Subtegory 2</strong></td></tr>
                        <tr><td>Description ....</td></tr>
                    </table>
                </div></td>
                <td>x topics</td>
                <td>x replies</td>
            </tr>
    
            <tr>
                <td><div class="d-forum-symbol"><span class="glyphicon glyphicon-tower"></span></div></td>
                <td><div class="d-lvtwo-category">
                    <table>
                        <tr><td><strong>Subtegory 3</strong></td></tr>
                        <tr><td>Description ....</td></tr>
                    </table>
                </div></td>
                <td>x topics</td>
                <td>x replies</td>
            </tr>
        </tbody>
    </table>

{% endblock %}

