<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    
    {% block stylesheets %} {% endblock %}

    <title>Forum</title>
</head>
<body>

    <nav class="navbar navbar-default navbar-fixed-top navigation-bar">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand"><strong>Forum</strong></div>
            </div>

            <div id="navbar" class="navbar-collapse collapse">

                <ul class="nav navbar-nav forum-menu">
                    <li><a href="/forum/home"><span class="glyphicon glyphicon-home"></span> Acasa</a></li>
                    <li><a href="/forum/topics/topic/new"><span class=""><span class="glyphicon glyphicon-pencil"></span>  Topic nou</a></li>
                    <li><a href="/forum/topics/topic/user/topics"><span class="glyphicon glyphicon-list"></span> Topicele mele</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <span class="glyphicon glyphicon-user"></span> Nume Prenume <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="/forum/management/"><span class="glyphicon glyphicon-cog"></span> Panoul de administrare al forumului</a></li>
                                <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Inapoi la pagina de dashboard</a></li>
                            </ul>
                        </li>
                    </ul>

                </ul>
            </div>
        </div>
    </nav>

    <br><br><br><br>

    {% block body %}{% endblock %}

    {% block javascripts %}{% endblock %}
</body>
</html>