{% extends 'forum/index.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/forum/home.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/forum/topics.css') }}">
{% endblock %}

{% block body %}

<h2 class="page-header">Subcategorie</h2>

{% endblock %}
