{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets_fulep/css/iulian.css') }}" />
{% endblock %}

{% block title %}Bine ai venit Fulep Iulian{% endblock %}

{% block body %}
    <div class="personal">
        <div class="profile_pic_container">
           <img class="profile" src="{{ asset('assets_fulep/image/iulian.JPG') }}" alt="" /> 
        </div>
        <div class="content">
            <p>
             "Everybody lies." First said: [#101], later this is referred to in almost every episode and also has the following corollaries:
"I don't ask why patients lie, I just assume they all do." [#107]
"It's a basic truth of the human condition that everybody lies. The only variable is about what." [#121]
"Truth begins in lies." First said: [#101]
"I've found that when you want to know the truth about someone that someone is probably the last person you should ask." [#105]
"You want to know how two chemicals interact, do you ask them? No, they're going to lie through their lying little chemical teeth. Throw them in a beaker and apply heat." [#113]
            </p>
            <p>
                "...like the philosopher Jagger once said, 'You can't always get what you want.'" [#101] This is backed up with the song by the Rolling Stones which plays at the end of the pilot and the first season finale.
"Humanity is overrated." First said: [#101]
"Reality is almost always wrong." [#103]
"We all make mistakes, and we all pay a price." [#107]
"...there's no I in 'team'. There is a me, though, if you jumble it up." [#109]
"Everybody does stupid things, it shouldn't cost them everything they want in life." [#112]
"People like talking about people. Makes us feel superior. Makes us feel in control. And sometimes, for some people, knowing some things makes them care." [#113]
"Men are pigs. [They will] pretty much have sex with anyone, fat, skinny, married, single, complete strangers, relatives." [#116]
"I choose to believe that the white light people sometimes see... they're all just chemical reactions that take place when the brain shuts down.... There's no conclusive science. My choice has no practical relevance to my life, I choose the outcome I find more comforting.... I find it more comforting to believe that this isn't simply a test." [#121]
"It's been established that time is not a rigid construct." [#121]
"It's one of the great tragedies of life — something always changes." [#122]
"I was never that great at math, but next to nothing is higher than nothing, right?" [#220]
            </p>
          <ul>
                <li>House MD</li>
                <li>Workout</li>
                <li>Volei</li>
                <li>League of Legends</li>
                <li>Warframe</li>
            </ul>
        </div>
          
        </div>

{% endblock %}