<!doctype html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ asset('assets_radu/styles/style.css') }}">
    <title>Radu's webpage</title>
</head>
<body>
    <div class="main">
        <h1>Tesla Motors Company</h1>
        <p>
            Tesla was founded in July 2003, by engineers Martin Eberhard and Marc Tarpenning, under the name Tesla Motors. The company's name was derived from engineer Nikola Tesla. In early Series A funding, Tesla Motors was joined by Elon Musk, J. B. Straubel and Ian Wright, all of whom are retroactively allowed to call themselves co-founders of the company. Musk, who formerly served as chairman and is the current chief executive officer, said that he envisioned Tesla Motors as a technology company and independent automaker, aimed at eventually offering electric cars at prices affordable to the average consumer. Tesla Motors shortened its name to Tesla in February 2017
            <img src="{{ asset('assets_radu/images/tesla_image.png') }}" alt="image" class="pull-left">
            Tesla, Inc. (formerly Tesla Motors, Inc.) is an American automotive and energy company based in Palo Alto, California.[7] The company specializes in electric car manufacturing and, through its SolarCity subsidiary, solar panel manufacturing. It operates multiple production and assembly plants, notably Gigafactory 1[8] near Reno, Nevada, and its main vehicle manufacturing facility at Tesla Factory[9] in Fremont, California. As of March 2019, Tesla sells the Model S,[10] Model X,[11] and Model 3 automobiles.[12] It is accepting reservations for the Model Y,[13] Roadster (2020),[14] and Semi[15] vehicles. Tesla also sells Powerwall[16] and Powerpack[17] batteries, solar panels,[18] solar roof tiles,[19] and some related products.
            <br>
            After 10 years in the market, Tesla ranked as the world's best selling plug-in passenger car manufacturer in 2018, both as a brand and by automotive group, with 245,240 units delivered and a market share of 12% of the plug-in segment sales.[20][21][22] Tesla vehicle sales in the U.S. increased by 280% from 48,000 in 2017 to 182,400 in 2018,[23] and globally were up by 138% from 2017.[24]
            <br>
            Tesla's technology strategy focuses on pure-electric propulsion technology, and transferring other approaches from the technology industry to transportation, such as online software updates.[44] Tesla allows its technology patents to be used by anyone in good faith.[45] Licensing agreements include provisions whereby the recipient agrees not to file patent suits against Tesla, or to copy its designs directly.[46] Tesla retained control of its other intellectual property, such as trademarks and trade secrets to prevent direct copying of its technology.[47]
            <br>
            Tesla's global sales since 2012 totaled over 532,000 units at the end of 2018, of which, over 245,000 were delivered in 2018, up almost 138% from 2017.[24] Year over year Tesla U.S. vehicle sales from 2017 to 2018 increased by 280% from 48,000 to 182,400.[23] As of October 2018, Tesla's sales represented about 20% of the all-electric cars on the world's roads, according to Navigant Research.[53] In July 2017, Tesla said their vehicles had traveled 5 billion miles (8 billion km)
        </p>
        <ul>
            <li>Roadster</li>
            <li>Model X</li>
            <li>Model S</li>
            <li>Model 3</li>
            <li>Model 5</li>
        </ul>
        <p>As of March 2018, Tesla had issued two product recalls for the Roadster, six for the Model S, and two for the Model X.</p>
    </div>
</body>
</html>
