body{
    background: #a3563d;
}

.personal{
    margin: 0 auto;
    max-width: 80%;
    display: flex;
    padding-top: 50px;
}

.profile{
    height: 300px;
}

.content{
    margin-left: 1em;
    font-family: verdana;
}

.container {
    margin-top: 40px;
}

h1{
    text-align: center;
}