<!doctype html>
<head>
<title>continut</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="author" content="Iga Sanda Florina">
<meta name="viewport" content="width=100%; initial-scale=1.0"
<link rel="stylesheet" href="css/background.css" type="text/css">
<link rel="stylesheet" href="css/continut.css" type="text/css"
<link rel="stylesheet" href="css/contact.css" type="text/css">
</head>
<body>
<center>
<table border="0" id="table1">
	
	<tr>
		<td>
		<center>
			<table border="0"><form method="post" action="mailto:brad@yahoo.com">
				<tr>
					<td><br>
					<h1 style="font-family:verdana; color:#32cd32;padding-top:5px">Opinia dumneavoastra conteaza</h1>
					</td>
				</tr>
				
				<tr>
					<td><center><br>
						<input type="text" placeholder="Nume" class="input"></center>
					</td>
				</tr>
				
				<tr>
					<td><center><br>
						<input type="text" placeholder="Prenume" class="input"></center>
					</td>
				</tr>
				
				<tr>
					<td><center><br>
						<input type="text" placeholder="E-mail/Telefon" class="input"></center>
					</td>
				</tr>
				
				<tr>
					<td><center><br>
						<textarea  placeholder="Comentarii..."></textarea></center>
					</td>
				</tr>
				
				<tr>
					<td><center><br>
						<input type="reset" value="Resetati informatiile" class="button"></center>
					</td>
				</tr>
				
				<tr>
					<td><center><br>
						<h2 style="font-family:verdana; color:#32cd32;padding-top:5px;">Ati gasit informatiile necesare?</h2></center>
					</td>
				</tr>
				
				<tr>
					<td><center><br>
						<input type="checkbox" style="margin-left:-100px;">     DA</center>
					</td>
					<td><center><br>
						<input type="checkbox" style="margin-left:-500px;">     NU</center>
					</td>
				</tr>
				
				<tr>
					<td><center><br>
						<input type="submit" value="Trimite informatiile" class="button" onclick="ale( )"></center></form>
					<br><br><br></td>
				</tr>
			</table>
		</center>
		</td>
	</tr><br><br>
	<tr>
					<td><center>
 
 <audio controls>
	<source src="Enya.mp3" type="audio/mpeg"></audio>
 </center></td>
	</tr>
	<tr>
		<td style="padding-top:100px;">
		<footer id="footer">
			<p style="font-family:verdana; padding-top: 10px;" align="center">Autor: Iga Sanda Florina</p>
		</footer>			
		</td>
			</tr>
	</tr>		
</table>
</center>
<script>
function ale( ){
alert("Sunteti sigur ca trimiteti informatiile?");
}
</script>

</body>
</body>
</html>
			
				
				
				
						
						
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
