<!doctype html>
<head>
</head>
<body bgcolor="gold">
<h3><b>
<p align="justify">
FONDAT LA 1869<br>        
VIZIUNEA:<br></b>
        Colegiul bradean - mediu democratic si creativ de dezvoltare pentru toti si pentru fiecare.<br>        
<b>MISIUNEA SCOLII:<br></b>
        Realizarea politicilor si programelor de dezvoltare a scolii, crearea cadrului organizatoric si functional favorabil schimbarii, cresterea calitatii serviciilor educative si a contributiei acestora la dezvoltarea personala a elevilor si a comunitatii, promovarea valorilor europene si ale cetateniei active.<br>        
<b>TINTE STRATEGICE:<br></b>
        Adoptarea ofertei educationale si a metodelor de predare la nevoile si interesele elevilor conform tendintelor de dezvoltare economica locala, nationala si europeana specifice secolului XXI.<br>
        Transformarea scolii intr-o organizatie care incurajeaza dezvoltarea profesionala si promoveaza performanta elevilor.
        Modernizarea si dezvoltarea bazei materiale pentru promovarea unui invatamant modern.
        Parteneriat educativ eficient: scoala - familie - comunitate.
        Promovarea si asigurarea de sanse egale in educatie.
        Promovarea imaginii scolii in contextul climatului concurential actual de descentralizare.
</p>
</h3>
</body>
</html>
