<!doctype html>
<head>
<title> Galereie </title>
</head>
<body bgcolor="aliceblue">
<center>
<h1><font color="grey"> Liceul Teoretic Avram Iancu </font></h1>
<p>
<p>
<img src="brad.jpg" height="200" width="325" title="Liceul din afara curtii">
<img src="brad1.jpg" height="200" width="325" title="Curtea primitoare a liceului">
<p><img src="brad2.jpg" height="200" width="325" title="Statuia din curtea liceului">
<img src="Laborator1.jpg" height="200" width="325" title="Laboratorul de la etajul 1">
<p><img src="Laborator2.jpg" height="200" width="325" title="Laboratorul de la etajul 2">
<img src="bdf1.jpg" height="200" width="325" title="bitdefender"> 
<p>
<img src="brad.jpg" height="200" width="325" title="Liceul din afara curtii">
<img src="brad1.jpg" height="200" width="325" title="Curtea primitoare a liceului"><marquee direction="right"><b>Liceul nostru</b></marquee>
</center>
</body>
</html>
