<!doctype html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"
    <link rel="stylesheet" href="{{ asset('assets_Iga/Igastyle.css') }}">
    <title>Iga Sanda Florina</title>
</head>
<body bgcolor="aliceblue">
    <div id="container"> 
        <h1><center><font color="grey"><b>Liceul Teoretic „Avram Iancu” Brad!</b></font></center></h1
        </div><div><center><img src="{{ asset('assets_Iga/liceu.jpg') }}" title="Statuia lui Avram Iancu din curtea liceului" alt="IMAGINE" class="pull-center"> </center></div>
        <div>
<p><B>VIZIUNEA:</B>

        Colegiul bradean - mediu democratic si creativ de dezvoltare pentru toti si pentru fiecare.</p>
      
<p><B>MISIUNEA SCOLII:</B>

        Realizarea politicilor si programelor de dezvoltare a scolii, crearea cadrului organizatoric si functional favorabil schimbarii, cresterea calitatii serviciilor educative si a contributiei acestora la dezvoltarea personala a elevilor si a comunitatii, promovarea valorilor europene si ale cetateniei active.

 </p>       
<p><B>TINTE STRATEGICE:</B>

        Adoptarea ofertei educationale si a metodelor de predare la nevoile si interesele elevilor conform tendintelor de dezvoltare economica locala, nationala si europeana specifice secolului XXI.<br>
        Transformarea scolii intr-o organizatie care incurajeaza dezvoltarea profesionala si promoveaza performanta elevilor.<br>
        Modernizarea si dezvoltarea bazei materiale pentru promovarea unui invatamant modern.<br>
        Parteneriat educativ eficient: scoala - familie - comunitate.<br>
        Promovarea si asigurarea de sanse egale in educatie.<br>
        Promovarea imaginii scolii in contextul climatului concurential actual de descentralizare. </p>
<p><h3>Oferta școlară pentru anul școlar 2019-2020</h3></p>       
        </div><div><center><table border="2"><tr><td>PROFIL</td><td>Numar <br>clase</td></tr><tr><td>REAL</td><td>  3 </td></tr><tr><td>UMAN</td><td>  1 </td></tr></table></center></div>
        <div>
            <ul>
                <li>Matematica-Informatica, intensiv informatica - o clasa</li>
                <li>Stiinte ale Naturii - doua clase</li>
                <li>Filologie - o clasa</li>
            </ul>
        </div>

    <div>
 <center><img src="{{ asset('assets_Iga/brad.jpg') }}" title="Liceul din afara curtii" alt="IMAGINE" class="pull-left"> </center>
</div>
<p>
<marquee direction="right"><b>Bine aţi venit la Liceul Teoretic „Avram Iancu” Brad!</b></marquee></p>
</body>
</html>
