<!doctype html>
<head>
</head>
<frameset cols="25%,*" bordercolor="darkblue" border="4">
<frame src="stanga.html">
<frame src="dreapta.html" name="dreapta">
</frameset>
<body>
</body>
</html>
