<!doctype html>
<head>
</head>
<body bgcolor="black">
<a href="Date liceu.html" target="dreapta" color="red"><h1><font color="aliceblue">Date liceu</font></h1></a>
<a href="Adresa.html" target="dreapta" color="red"><h1><font color="aliceblue">Adresa</font></h2></a>
<a href="Galerie.html" target="dreapta" color="red"><h1><font color="aliceblue">Galerie</font></h1></a>
<body>
</html>
