<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Vero</title>
    </head>
    <body>
        <div id="sidebar">
            <ul>
       <h2><i>Intoarcere la pagina Home:</i></h2>
                <a href="/">Home</a>
                
            </ul>
        </div>

        <div id="content">
         <ul>
            <h2><i>Prima mea postare</i></h2>
    <table>
	<tr>
		<td bgcolor="#337AB7"><p>Radu Veronica</p>Aceasta este pagina mea in Symfony.</td>
        
	</tr>
</table>
            
            <h2><i>Alta postare</i></h2>
            <p>Familia mea:</p>

                             
 <img src="imagine/1.jpg" width="320" height="475" />


 


        </div>
    </body>
</html>
