<!doctype html>
<html lang="ro">
<head>
    <link rel="stylesheet" href="{{ asset('assets/css/mihai.css') }}">
    <title>mihai's page</title>
</head>
    <body>
        <section class="section">
            <div class="container">
                <h1 class="title">Page header one</h1>

                <p class="subtitle">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A blanditiis error fugiat incidunt inventore itaque nam, nesciunt rerum saepe similique soluta ut veritatis vitae! Accusantium consequuntur est sapiente sequi voluptate?
                </p>

                <img src="{{ asset('assets/images/mihai.jpg') }}" alt="image" class="pull-left">

                <hr>

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad adipisci alias aliquam aliquid consequuntur, delectus dolore doloribus dolorum exercitationem inventore, officiis possimus praesentium qui quod similique unde ut vitae?
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad adipisci alias aliquam aliquid consequuntur, delectus dolore doloribus dolorum exercitationem inventore, officiis possimus praesentium qui quod similique unde ut vitae?
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad adipisci alias aliquam aliquid consequuntur, delectus dolore doloribus dolorum exercitationem inventore, officiis possimus praesentium qui quod similique unde ut vitae?
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad adipisci alias aliquam aliquid consequuntur, delectus dolore doloribus dolorum exercitationem inventore, officiis possimus praesentium qui quod similique unde ut vitae?
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad adipisci alias aliquam aliquid consequuntur, delectus dolore doloribus dolorum exercitationem inventore, officiis possimus praesentium qui quod similique unde ut vitae?
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad adipisci alias aliquam aliquid consequuntur, delectus dolore doloribus dolorum exercitationem inventore, officiis possimus praesentium qui quod similique unde ut vitae?
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad adipisci alias aliquam aliquid consequuntur, delectus dolore doloribus dolorum exercitationem inventore, officiis possimus praesentium qui quod similique unde ut vitae?
                    <br>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad adipisci alias aliquam aliquid consequuntur, delectus dolore doloribus dolorum exercitationem inventore, officiis possimus praesentium qui quod similique unde ut vitae?
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad adipisci alias aliquam aliquid consequuntur, delectus dolore doloribus dolorum exercitationem inventore, officiis possimus praesentium qui quod similique unde ut vitae?
                    <br>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad adipisci alias aliquam aliquid consequuntur, delectus dolore doloribus dolorum exercitationem inventore, officiis possimus praesentium qui quod similique unde ut vitae?
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad adipisci alias aliquam aliquid consequuntur, delectus dolore doloribus dolorum exercitationem inventore, officiis possimus praesentium qui quod similique unde ut vitae?
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad adipisci alias aliquam aliquid consequuntur, delectus dolore doloribus dolorum exercitationem inventore, officiis possimus praesentium qui quod similique unde ut vitae?
                    <br>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad adipisci alias aliquam aliquid consequuntur, delectus dolore doloribus dolorum exercitationem inventore, officiis possimus praesentium qui quod similique unde ut vitae?
                </p>

                <hr>

                <div class="list is-hoverable">
                    <a class="list-item">
                        Lorem
                    </a>
                    <a class="list-item">
                        ipsum
                    </a>
                    <a class="list-item is-active">
                        amet
                    </a>
                    <a class="list-item">
                        Business
                    </a>
                    <a class="list-item">
                        Community
                    </a>
                    <a class="list-item">
                        adipisicing
                    </a>
                    <a class="list-item">
                        consequuntur
                    </a>
                    <a class="list-item">
                        exercitationem
                    </a>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad adipisci alias aliquam aliquid consequuntur, delectus dolore doloribus dolorum exercitationem inventore, officiis possimus praesentium qui quod similique unde ut vitae?</p>
            </div>
        </section>
    </body>
</html>