{% extends 'base.html.twig' %}

{% block title %}
    mihai's page
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <link rel="stylesheet" href="{{ asset('assets/css/mihai.css') }}">
{% endblock %}
{% block body %}
        <section class="section">
            <div class="container">
                <h1 class="title">Owl in a straw hat</h1>

                <p class="subtitle">
                    El Tecolote Del Sombrero de Paja
                </p>
                <div class="columns">
                    <div class="column">
                        <img src="{{ asset('assets/images/mihai.jpg') }}" alt="image" class="pull-left">
                    </div>
                    <div class="column is-two-thirds" id="story">
                        <p>Ollie is supposed to attend school but prefers to hang out with his friends Raven and Crow instead. Ollie’s parents discover he cannot read <span>code</span> and they send Ollie off to see his grandmother, Nana, a teacher and farmer in Chimayó. Along the way, Ollie’s illiteracy causes mischief as he meets up with some shady characters on the path including Gloria La Zorra (a fox), Trickster Coyote, and a hungry wolf named Luis Lobo who has sold some bad house plans to the Three Little Pigs. When Ollie finally arrives at Nana’s, his cousin Randy Roadrunner drives up in his lowrider and asks Ollie why he’s so blue. “I’m starting school, and there’s too much to learn, and I can’t read <span>code</span>,” Ollie says. “I can’t do it.” Randy explains that he didn’t think he could learn to read <span>code</span> either, but he persevered, earned a business degree, and now owns the best lowrider shop in Española! Ollie finally decides he is ready to learn to read <span>code</span></p>
                    </div>
                </div>
                <hr>
                <div class="columns">
                    <div class="column">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad adipisci alias aliquam aliquid consequuntur, delectus dolore doloribus dolorum exercitationem inventore, officiis possimus praesentium qui quod similique unde ut vitae?
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad adipisci alias aliquam aliquid consequuntur, delectus dolore doloribus dolorum exercitationem inventore, officiis possimus praesentium qui quod similique unde ut vitae?
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad adipisci alias aliquam aliquid consequuntur, delectus dolore doloribus dolorum exercitationem inventore, officiis possimus praesentium qui quod similique unde ut vitae?
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad adipisci alias aliquam aliquid consequuntur, delectus dolore doloribus dolorum exercitationem inventore, officiis possimus praesentium qui quod similique unde ut vitae?
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad adipisci alias aliquam aliquid consequuntur, delectus dolore doloribus dolorum exercitationem inventore, officiis possimus praesentium qui quod similique unde ut vitae?
                        </p>
                        <br>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad adipisci alias aliquam aliquid consequuntur, delectus dolore doloribus dolorum exercitationem inventore, officiis possimus praesentium qui quod similique unde ut vitae?
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad adipisci alias aliquam aliquid consequuntur, delectus dolore doloribus dolorum exercitationem inventore, officiis possimus praesentium qui quod similique unde ut vitae?
                        </p>
                        <br>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad adipisci alias aliquam aliquid consequuntur, delectus dolore doloribus dolorum exercitationem inventore, officiis possimus praesentium qui quod similique unde ut vitae?
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad adipisci alias aliquam aliquid consequuntur, delectus dolore doloribus dolorum exercitationem inventore, officiis possimus praesentium qui quod similique unde ut vitae?
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad adipisci alias aliquam aliquid consequuntur, delectus dolore doloribus dolorum exercitationem inventore, officiis possimus praesentium qui quod similique unde ut vitae?
                        </p>
                        <br>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad adipisci alias aliquam aliquid consequuntur, delectus dolore doloribus dolorum exercitationem inventore, officiis possimus praesentium qui quod similique unde ut vitae?
                        </p>

                        <hr>
                    </div>
                    <div class="column is-one-quarter">
                        <div class="list is-hoverable">
                            <a class="list-item">
                                Nana in Chimayó
                            </a>
                            <a class="list-item">
                                Gloria La Zorra
                            </a>
                            <a class="list-item">
                                Trickster Coyote
                            </a>
                            <a class="list-item">
                                Luis Lobo
                            </a>
                            <a class="list-item">
                                Randy Roadrunner
                            </a>
                            <a class="list-item">
                                Raven
                            </a>
                            <a class="list-item">
                                Crow
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}