{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-sm-12">
            <h1 class="text-center">Summer Image in Havana</h1>
            <div class="thumbnail">
                <a href="assets_preda_alex/image/{{ image }}">
                    <img src="/assets_preda_alex/image/{{ image }}" alt="some text here">
                </a>
                <div class="caption">
                    <h3>What you can see</h3>
                    <ul>
                        <li>Sea</li>
                        <li>Desert</li>
                        <li>Haing a fun time</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock %}