{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets_preda_alex/css/alexstyle.css') }}" />
{% endblock %}

{% block title %}Welcome Preda Alexandru{% endblock %}

{% block body %}
    <h1>Bine ai venit Alexandru Preda</h1>

    <div class="pagina-personala">
        <div>
           <img class="img-profil" src="{{ asset('assets_preda_alex/image/alex.JPG') }}" alt="" /> 
        </div>
        <div class="content">
           

            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas esse deleniti nulla dolor enim assumenda
                natus,
                perferendis accusantium voluptatibus impedit culpa libero ipsam nemo maiores reiciendis adipisci totam.
                Repellendus, eius.
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, consequuntur quidem atque omnis rem placeat ea
                dicta odit
                praesentium quisquam dolore ducimus eveniet pariatur obcaecati corrupti nulla quaerat porro natus.
            </p>
          <ul>
                <li>Fotbal</li>
                <li>Baschet</li>
                <li>Volei</li>
                <li>League of Legends</li>
                <li>Warframe</li>
                <li>Premier League</li>
            </ul>
        </div>
          
        </div>

{% endblock %}