<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ asset('assets/css/dogaru.css') }}">

    <title>Dogaru Narcis</title>
</head>
<body>
    
    <div id="container">

        <div id="profile-pic">
            <div id ="image-container">
                <img src=" {{ asset('assets/images/dogaru.jpg') }}">
            </div>
            <div id ="name">Dogaru Narcis</div>
        </div>

        <div id="content">
            <p>cd4e4bb4-6f57-11e9-a923-1681be663d3e-cd4e4e52-6f57-11e9-a923-1681be663d3e-cd4e503c-6f57-11e9-a923-1681be663d3e-cd4e51ae-6f57-11e9-a923-1681be663d3e-
            d4e5578-6f57-11e9-a923-1681be663d3e-bdddf3ec-4ceb-4d7c-9f32-14a06b22ea27-ccaf845f-2401-4e6c-b9e0-26ae1f8dec5e-e342001b-6b70-4f4e-9942-0b0bc99585b5-0b14a90c-3d36-4cf0-81c9-46478e730089
            0b14a90c-3d36-4cf0-81c9-46478e730089-f186cb30-88e7-4c2c-87b9-b1365e8a9742cd4e4bb4-6f57-11e9-a923-1681be663d3e-cd4e4e52-6f57-11e9-a923-1681be663d3e-cd4e503c-6f57-11e9-a923-1681be663d3e-cd4e51ae-6f57-11e9-a923-1681be663d3e-
            d4e5578-6f57-11e9-a923-1681be663d3e-bdddf3ec-4ceb-4d7c-9f32-14a06b22ea27-ccaf845f-2401-4e6c-b9e0-26ae1f8dec5e-e342001b-6b70-4f4e-9942-0b0bc99585b5-0b14a90c-3d36-4cf0-81c9-46478e730089
            0b14a90c-3d36-4cf0-81c9-46478e730089-f186cb30-88e7-4c2c-87b9-b1365e8a9742</p>

            <p>e09db224-f1c6-49dd-9e8b-98b32090ae56-a636718f-718f-490b-9756-5d3ba19d0cd0-8e40a9de-5a1d-438b-96e5-03c37a3aec4b-8e40a9de-5a1d-438b-96e5-03c37a3aec4b-
                    60fea5a8-f421-41f1-a0e9-fcce14c9683d-e95c2410-cfa3-4ad9-8d0c-659d8fc62d0c-d2a0b50f-624a-4188-9d16-b0513de3aa88-52b063ef-60c0-4ee8-abce-286bc1989c27
                    17389c6c-7203-4a00-9fa1-f285dc1437d0-28153bd2-989f-432a-a13f-f25e37dc4188-d95fb195-2f24-46d8-a60d-aa1ecdbe3640-e09db224-f1c6-49dd-9e8b-98b32090ae56-a636718f-718f-490b-9756-5d3ba19d0cd0-8e40a9de-5a1d-438b-96e5-03c37a3aec4b-8e40a9de-5a1d-438b-96e5-03c37a3aec4b-
                    60fea5a8-f421-41f1-a0e9-fcce14c9683d-e95c2410-cfa3-4ad9-8d0c-659d8fc62d0c-d2a0b50f-624a-4188-9d16-b0513de3aa88-52b063ef-60c0-4ee8-abce-286bc1989c27
                    17389c6c-7203-4a00-9fa1-f285dc1437d0-28153bd2-989f-432a-a13f-f25e37dc4188-d95fb195-2f24-46d8-a60d-aa1ecdbe3640</p>
            </p>

            <p>
                d4e4bb4-6f57-11e9-a923-1681be663d3e-cd4e4e52-6f57-11e9-a923-1681be663d3e-cd4e503c-6f57-11e9-a923-1681be663d3e-cd4e51ae-6f57-11e9-a923-1681be663d3e-
                d4e5578-6f57-11e9-a923-1681be663d3e-bdddf3ec-4ceb-4d7c-9f32-14a06b22ea27-ccaf845f-2401-4e6c-b9e0-26ae1f8dec5e-e342001b-6b70-4f4e-9942-0b0bc99585b5-0b14a90c-3d36-4cf0-81c9-46478e730089
                0b14a90c-3d36-4cf0-81c9-46478e730089-f186cb30-88e7-4c2c-87b9-b1365e8a9742cd4e4bb4a00-9fa1-f285dc1437d0-28153bd2-989f-432a-a13f-f25e37dc4188-d95fb195-2f24-46d8-a60d-aa1ecdbe3640-e09db224-f1c6-49dd-9e8b-98b32090ae56-a636718f-718f-490b-9756-5d3ba19d0cd0-8e40a9de-5a1d-438b-96e5-03c37a3aec4b-8e40a9de-5a1d-438b-96e5-03c37a3aec4b-
                60fea5a8-f421-41f1-a0e9-fcce14c9683d-e95c2410-cfa3-4ad9-8d0c-659d8fc62d0c-d2a0b50f-624a-4188-9d1681be663d3e-cd4e4e52-6f57-11e9
            </p>

            <p>
                0b14a90c-3d36-4cf0-81c9-46478e730089-f186cb30-88e7-4c2c-87b9-b1365e8a9742cd4e4bb4-6f57-11e9-a923-1681be663d3e-cd4e4e52-6f57-11e9-a923-1681be663d3e-cd4e503c-6f57-11e9-a923-1681be663d3e-cd4e51ae-6f57-11e9-a923-1681be663d3e-
                d4e5578-6f57-11e9-a923-1681be663d3e-bdddf3ec-4ceb-4d7c-9f32-14a06b22ea27-ccaf845f-2401-4e6c-b9e0-26ae1f8dec5e-e342001b-6b70-4f4e-9942-0b0bc99585b5-0b14a90c-3d36-4cf0-81c9-46478e730089
                0b14a90c-3d36-4cf0-81c9-46478e730089-f186cb30-88e7-4c2c-87b9-b1365e8a974260fea5a8-f421-41f1-a0e9-fcce14c9683d-e95c2410-cfa3-4ad9-8d0c-659d8fc62d0c-d2a0b50f-624a-4188-9d16-b0513de3aa88-
                cd4e4bb4-6f57-11e9-a923-1681be663d3e-cd4e4e52-6f57-11e9-a923-1681be663d3e-cd4e503c-6f57-11e9-a923-1681be663d3e
            </p>

            <ul id="list">
                <li>9989301c-98ab-49ce-a3e8-de0aa791ac26</li>
                <li>325e074f-9edf-49fe-a6bc-21d16f9841ca</li>
                <li>d4147b1-431b-4aea-99ff-bd1cd23c4736x</li>
                <li>c54b527b-af22-4634-a052-9c43f4b75796</li>
                <li>00b839fa-0391-4afd-9715-d298af4f6653</li>
            </ul>
        </div>
    </div>
</body>
</html>