{% extends 'base.html.twig' %}

{% block title %} PABD19 Dashboard {% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/dashboard.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
{% endblock %}

{% block body %}
<section class="section">
    <div class="container">
        <div class="row">
            <a href="{{path('app_gallery_index')}}">Gallery</a>
            <a href="blog/home">Blog</a>
        </div>
    </div>
</section>
{% endblock %}