{% extends 'base.html.twig' %}

{% block title %} PABD19 Dashboard {% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/dashboard.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
{% endblock %}

{% block body %}
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <a href="#">Blog</a> <br>
                <a href="#">Gallery</a> <br>
                <a href="/forum/home">Forum</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}