{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/danclaudiustyle.css') }}" />
{% endblock %}

{% block title %}Bine ai venit Preda Alexandru{% endblock %}

{% block body %}

 <div class="personal_page_container">
        <div class="profile_pic_container">
           <img class="profile_pic" src="{{ asset('assets/image/danimg.JPG') }}" alt="" /> 
        </div>
        <div class="content">

<p>
Marilena de la P7 este un film de mediu-metraj realizat de regizorul român Cristian Nemescu în anul 2006. Pelicula a fost remarcată în același an, când a concurat pentru secțiunea Semaine de la critique a ediției cu numărul 59 a Festivalului Internațional de Film de la Cannes.
</p>

<p>
Ultimul proiect finalizat de regizorul Cristian Nemescu, filmul îi are în rolurile principale pe actorii Mădălina Ghițescu și Gabriel Huian. S-a pornit de la un exercițiu cu un subiect diferit, plănuit să nu depășească durata de șapte minute, din care s-a conturat, într-o etapă ulterioară, un film de dragoste adolescentină (subiect predilect pentru regizor), montat în final la o durată neobișnuită, de 45 de minute. Filmul s-a bucurat de o primire bună din partea publicului; ce impresionează în Marilena de la P7 este viziunea foarte omogenă, îmbinarea scenariului cu imaginea și sunetul într-o formă organică, inovatoare prin experimente și tehnici neobișnuite.
</p>

<ul>
    <li>Wikipedia</li>
    <li>Film</li>
    <li>Proiect</li>
</ul>
            
{% endblock %}